<!DOCTYPE html>
<html>
<head>
  <title>FinalKevinYean</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id = "lister">
			<h1> Yummy Tummy </h1>
			<ul>
			   <li><%= link_to "Home",  root_path%></li>
			   <Li><%= link_to "Easy Recipes",  easy_path%></li>
			   <li><%= link_to "Challenging Recipes",  difficult_path%></li>
			   <li><%= link_to "Cheap Recipes",  cheap_path%></li>
			 </ul>
	</div>

	<footer class="footer" style = "position:fixed;bottom:0; width:100%; background-color:pink">
	   <small>
	   <a>Contact</a>
	   </small>
	   <nav>
	     <ul>
	       <li>About</li>
	     </ul>
	   </nav>
	</footer>

	<div class = "container">
	<br>

	<div class="col-md-2">
		<div id="chefs">
			<li>New Features! You can now search by Chef! </li>
			<li> <%= link_to "Chef Rachel's Recipes", rachel_path %></li>
			<li> <%= link_to "Chef Sandra's Recipes", sandra_path %> </li>
			<li> <%= link_to "Chef Paula's Recipes", paula_path %> </li>
		</div>
	</div>

	<div class="col-md-10">
	     <%= yield %>
	</div>

	<br><br><br><br>
	</body>
</html>
